*~
*.mo
doc/_build/
doc/.build/
administration.po
building.po
users.po
editing.po
ghini-family.po
goal.po
imex.po
index.po
installing.po
propagations.po
report.po
searching.po
started.po
statements.po
tagging.po
template-letters.po
use_cases-jbq.po
use_cases-zadenbank.po
use_cases.po
